{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TNPSC Application Form</title>
    <style>
        @page {
            size: A4;
            margin: 20mm;
        }

        body {
            width: 170mm;
            /* Adjust width to account for margins */
            margin: 0 auto;
            font-weight: bold;
            /* ... other styles ... */
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        td {
            border: 1px solid rgba(150, 150, 150, 0.466);
            padding: 5px;
        }



        .headers {
            text-decoration: underline;
            color: #f40000;
            margin: 10px 0;
            text-transform: uppercase;
        }

        h1 {
            text-align: center;
            color: #f40000;
            text-decoration: underline;
            font-size: 25px;
            margin-bottom: 50px;
        }
    </style>
</head>

<body>

    <table style="margin-bottom:0px">
        <tr>

            <td style="border:none">

                <img src="{% static 'tn ACS logo.png' %}" alt="" width="100px" height="100px">
            </td>
            <td style="border:none">

                <img src="{% static '100 Year Logo - 4.png' %}" alt="" width="100px" height="100px">
            </td>
            <td style="border:none">

                <img src="{% static 'Tamil_Nadu_Emblem.png' %}" alt="" width="100px" height="100px">
            </td>
            <td style="border:none">

                <img src="{% static 'NACO LOGO.png' %}" alt="" width="100px" height="100px">
            </td>

        </tr>
    </table>

    <h1>Tamil Nadu State AIDS Control Society</h1>

    <table style="margin-bottom:0px">
        <tr>

            <td style="border:none">

                <img src="{{job.user.profile.profile_image.url}}" alt="" width="100px" height="100px">
            </td>
        </tr>
    </table>

    <!-- Personal Details -->
    <p class="headers">PERSONAL DETAILS</p>



    <table style="width:100%;">

        <tr>
            <td>UNIQUE ID</td>
            <td>{{job.application_id}}</td>
        </tr>
        <tr>
            <td>Select Job Posting</td>
            <td>{{job.position}}</td>
        </tr>
        <tr>
            <td>Name of the Applicant</td>
            <td>{{job.user.profile.first_name}} {{job.user.profile.last_name}}</td>
        </tr>


        <tr>
            <td>
                Applicant Mobile Number

            </td>
            <td>
                +91 {{job.user.profile.phone_number}}
            </td>
        </tr>
        <tr>
            <td>
                Date of Birth

            </td>
            <td>
                {{job.user.profile.DOB}}
            </td>
        </tr>
        <tr>
            <td>
                Age
            </td>
            <td>
                {{job.user.profile.age}}
            </td>
        </tr>
        <tr>
            <td>
                Email ID

            </td>
            <td>
                {{job.user.profile.email}}
            </td>
        </tr>
        <tr>
            <td>
                Parent's Name

            </td>
            <td>
                {{job.user.profile.guardian_name}} {{job.user.profile.guardian_name_initial}}
            </td>
        </tr>
        <tr>
            <td>
                Aadhar Card Number

            </td>
            <td>
                {{job.user.profile.aadhar}}
            </td>
        </tr>
        <tr>
            <td>
                Emergency Contact Number

            </td>
            <td>
                +91 {{job.user.profile.alternate_phone_number}}
            </td>
        </tr><!-- Add more rows as needed -->
    </table>

    <!-- Address Details -->
    {% for each in job.user.profile.address.all %}
    {% if each.address_type == "permanent" %}
    <p class="headers">PERMANENT ADDRESS</p>
    {% else %}
    <p class="headers">COMMUNICATION ADDRESS</p>
    {% endif %}
    <table style="width:100%;">
        <tr>
            <td>Address Line 1</td>
            <td>{{each.address_line1}}</td>
        </tr>
        {% if each.address_line2 %}
        <tr>
            <td>Address Line 2</td>
            <td>{{each.address_line2}}</td>
        </tr>
        {% endif %}
        <tr>
            <td>State</td>
            <td>{{each.state}}</td>
        </tr>
        <tr>
            <td>District</td>
            <td>{{each.district}}</td>
        </tr>
        <tr>
            <td>Pincode</td>
            <td>{{each.pincode}}</td>
        </tr>

        <!-- Add more rows as needed -->
    </table>
    {% endfor %}

    <!-- Education Details -->
    <p class="headers">EDUCATION DETAILS</p>


    <p class="headers">S.S.L.C.</p>
    <table style="width:100%;">
        <tr>
            <td>S.S.L.C. Register Number</td>
            <td>{{job.sslc.register_number}}</td>
        </tr>
        <tr>
            <td>Month / Year of Passing</td>
            <td>{{job.sslc.month}} {{job.sslc.year}}</td>
        </tr>
        <tr>
            <td>Type of Board</td>
            <td>{{job.sslc.board}}</td>
        </tr>
        <tr>
            <td>Percentage</td>
            <td>{{job.sslc.percentage}}</td>
        </tr>

        <!-- Add more rows as needed -->
    </table>


    <p class="headers">H.S.C.</p>
    <table style="width:100%;">
        <tr>
            <td>H.S.C Register Number</td>
            <td>{{job.hsc.register_number}}</td>
        </tr>
        <tr>
            <td>Month / Year of Passing</td>
            <td>{{job.hsc.month}} {{job.hsc.year}}</td>
        </tr>
        <tr>
            <td>Type of Board</td>
            <td>{{job.hsc.board}}</td>
        </tr>
        <tr>
            <td>Percentage</td>
            <td>{{job.hsc.percentage}}</td>
        </tr>

        <!-- Add more rows as needed -->
    </table>


    <p class="headers">UNDERGRADUATE </p>
    <table style="width:100%;">
        <tr>
            <td>U.G Degree</td>
            <td>{{job.ug.degree}}</td>
        </tr>
        <tr>
            <td>U.G Register Number</td>
            <td>{{job.ug.register_number}}</td>
        </tr>
        <tr>
            <td>Month / Year of Passing</td>
            <td>{{job.ug.month}} {{job.ug.year}}</td>
        </tr>

        <tr>
            <td>Percentage</td>
            <td>{{job.ug.percentage}}</td>
        </tr>

        <!-- Add more rows as needed -->
    </table>


    <p class="headers">POSTGRADUATE </p>
    {% for each in job.pg.all %}

    <table style="width:100%;">
        <tr>
            <td>P.G Degree</td>
            <td>{{each.degree}}</td>
        </tr>
        <tr>
            <td>P.G Register Number</td>
            <td>{{each.register_number}}</td>
        </tr>
        <tr>
            <td>Month / Year of Passing</td>
            <td>{{each.month}} {{each.year}}</td>
        </tr>

        <tr>
            <td>Percentage</td>
            <td>{{each.percentage}}</td>
        </tr>

        <!-- Add more rows as needed -->
    </table>
    {% endfor %}

    {% if job.exp.all %}
    <p class="headers">EXPERIENCE</p>
    {% for each in job.exp.all %}

    <table style="width:100%;">
        <tr>
            <td>Degree</td>
            <td>{{each.degree}}</td>
        </tr>
        <tr>
            <td>Company</td>
            <td>{{each.company}}</td>
        </tr>


        <tr>
            <td>Years</td>
            <td>{{each.year}}</td>
        </tr>

        <!-- Add more rows as needed -->
    </table>

    {% endfor %}
    {% endif %}


    {% if job.pexp.all %}
    <p class="headers">WORK EXPERIENCE WITH IN ( NACO / TANSACS / TSU )</p>

    {% for each in job.pexp.all %}

    {% if each.company == 'NACO' %}

    <p>Expereience in NACO : {{each.year}} years</p>

    {% endif %}
    {% if each.company == 'TANSACS' %}

    <p>Expereience in TANSACS : {{each.year}} years</p>

    {% endif %}
    {% if each.company == 'TSU' %}

    <p>Expereience in TSU : {{each.year}} years</p>

    {% endif %}

    {% endfor %}


    {% endif %}


</body>

</html>