<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Application Confirmation</title>
</head>
<body>
    <p>Subject: Your Application ID : Next Steps Await!</p>
    <br>
    <p>Dear {{ applicant_name }},</p>
    <br>
    <p>Thank you for submitting your application for {{ job_title }}.</p>
    <p>We're excited about the prospect of having you on TANSACS. Your unique Application ID is essential for tracking your progress throughout the hiring process. Here's your Application ID:</p>
    <br>
    <p><strong>Application ID:</strong> {{ application_id }}</p>
    <br>
    <p>Keep this ID handy for future reference and inquiries.</p>
    <br>
    // <p>Best regards,<br>TANSACS RECRUITMENT</p>
    <div>
            Thanks,<br>
            TANSACS <br>
            <a href="http://www.tnsacs.in">www.tnsacs.in</a>
    </div>
</body>
</html>
